body {
  height: 100vh;
}
.caixa-mae {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
}

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 70vw;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.titulo {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.8rem;
  margin: 0 30px;
}

.texto {
 grid-column: 1;
 grid-row: 2;
 font-size: 1.3rem;
 margin: 0 30px 20px 30px;
 color: hsla(0, 20%, 4%, 0.671);
}

.lista {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 70px 0 30px;
}

.grid-imagem {
  background-image: url('../images/image-header-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.grid-imagem-content {
  width: 100%;
}

